.content-wrapper {
    background-color: #fff;
    .mt-50 {
        margin-top: 150px;
    }

    .component {
        margin-bottom: 50px;
    }

    //banner-------------------
    .banner_card {
        margin-top: 115px;
        .size-40 {
            width: 40px;
            height: 40px;
        }
    }
    //About---------------------
    .about_card {
        .size-40 {
            width: 40px;
            height: 40px;
        }
    }
    //Category---------------------
    .category_card {
        .size-40 {
            width: 40px;
            height: 40px;
        }
    }

    .pd-50 {
        padding: 50px;

    }
}
