.home {
    display: flex;
    height: 32px;
    margin: 16px;
    // background: red;
    justify-content: center;
    color: black;
    &:hover {
        color: #1890ff;
        cursor: pointer;
    }
}
.menu {
    // position: fixed;
    // background: none;
    // width: 30px;
}
.home-icon {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 12px;
    position: relative;
    left: 0;
}

.header-logo {
    width: 190px;
    height: 32px;
    margin-top: 16px;
}

.admin-title {
    color: rgba(0, 0, 0, 0.85);
    margin-top: 18px;
    // margin-left: 130px;
    font-weight: 400;
}

.trigger {
    width: 100%;
    // background: #dee2e6;
    font-size: 20px;
    color: black;
    position: fixed;
    bottom: 0;
    width: 90px;
    padding: 20px 0;
}

.item-title {
    font-weight: 400;
    margin-top: 26px;
    margin-left: 10px;
}

.content {
    padding-top: 20px;
    width: 100%;
}
