.categories {
    background: #f3f8f9;
    padding-top: 94px;
    padding-bottom: 70px;
    padding-left: 105px;
    padding-right: 105px;
}

.categories-title h2 {
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    color: #111111;
    font-size: 36px;
    font-weight: 700;
}

.categories-item {
    border: 1px solid #dfe9eb;
    background: #ffffff;
    overflow: hidden;
    padding: 25px;
    display: block;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: #505050;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    animation-duration: 2000ms;
    animation-delay: 500ms;
    animation-name: fadeInUp;
}

.categories-item:hover {
    cursor: default;
    text-decoration: none;
    background: #226fb7;
    color: #ffffff;
    border-color: #226fb7;
}

.categories-item:hover .categories-icon {
    background: #ffffff;
}

.categories-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: rgba(22, 170, 202, 0.2);
    text-align: center;
    border-radius: 100%;
    margin-right: 25px;
}

.categories-item:hover .categories-icon img {
    transform: scale(0.9, 0.9);
    transition: all 0.3s ease;
}

.categories-content .title {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.categories-content span {
    color: #505050;
    font-size: 15px;
    height: 1;
}

.categories-item:hover .categories-content h4 {
    color: #ffffff;
}

.categories-item:hover .categories-content span {
    color: #ffffff;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media only screen and (max-width: 1200px) {
    .categories {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1025px) {
    .categories {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .categories {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 768px) {
    .categories {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .categories {
        padding-left: 10px;
        padding-right: 10px;
    }

    .categories-title {
        margin-left: 10px;

        h2 {
            font-size: 26px;
        }
    }
}