.back-top {
    background: #226fb7;
    border-radius: 50%;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    width: 42px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}
.back-top .icon {
    background: #226fb7;
    border-radius: 50%;
    padding-top: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 36px;
    transition: all 0.3s ease;
    margin-left: 2px;
}
